h1 {
    font-size: 2ex;
    -webkit-transition: all .3s;
    transition: all .3s;
    color:blue;
}
h1:hover{
    -webkit-transform:translateX(50px);
            transform:translateX(50px);
    color:red;
}
